.paragraph--type--sec-content-image {
  display: flex;
}

.paragraph--type--sec-content-image.alignment-right {
  flex-direction: row-reverse;
}

.paragraph--type--sec-content-image .group-text {
  flex-grow: 2;
}
