#block-languageswitcher {
  position: relative;
}

#block-languageswitcher:hover .links {
  display: block;
}

#block-languageswitcher > span {
  cursor: default;
}

#block-languageswitcher .links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

#block-languageswitcher .links .is-active {
  display: none !important;
  visibility: hidden;
}