{% macro recursiveGroup(icon_group, icons_items, folders) %}
    <div class="icon-group icon-group-{{ icon_group|trim|lower|replace({' ': '-'}) }}" data-group="{{ icon_group|trim|lower|replace({' ': '-'}) }}">
    <h3>{{ folders[icon_group] }}</h3>

    <div class="icons-wrapper" style="display: none;">
      {% for filename, icon_url in icons_items %}
        {% if icon_url is iterable %}
          {{ _self.recursiveGroup(filename, icon_url) }}
        {% else %}
          <div class="icon-selector--thumbnails" data-filename="{{ filename }}">
            <div class="icon-selector--thumbnails-wrapper" style="background-image: url({{ icon_url|replace({' ': '%20'}) }})">
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

<div{{ attributes }}>
  <div class="icon-selector--widget">
    {% for icon_group, icons_items in icons %}
      {{ _self.recursiveGroup(icon_group, icons_items, folders) }}
    {% endfor %}
  </div>
  <div class="icon-selector--thumbnails-selected"></div>
</div>
