.icon-selector--widget {
  max-width: 100%;
  width: 420px;
  height: 210px;
  overflow: auto;
  border: 1px solid #69a3e7;
  margin-top: 10px;
}

.icon-group {
  width: 100%;
}
.icon-group h3 {
  padding: 0 1em;
  cursor: pointer;
}

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.icon-selector--thumbnails {
  width: 45px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  height: 45px;
  background-color: white;
  border: 1px solid white;
  transition: background-color 0.1s ease-in, border 0.1s ease-in;
  cursor: pointer;
}

.icon-selector--thumbnails:hover {
  background-color: #d9e7e7;
  border: 1px solid #69a3e7;
}

.icon-selector--thumbnails-wrapper {
  width: 45px;
  height: 45px;
  background-size: contain;
  background: no-repeat center;
  display: inline-block;
}

.icon-selector .icon-selector--thumbnails img {
  width: auto;
  height: 45px;
  display: inline-block;
  padding: 5px 10px;
}
